#main {
	background-color: #98cfc9;
	margin: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.content {
	display: block;
	max-width: 960px;
	margin: 0 auto;
	box-shadow: 0 0 5px #000000;
}

#logo {
	float: left;
	width: 50px;
	height: auto;
	margin: 35px 20px;
	margin-left: 210px;
}


#brandName {
	display: inline-block;
	margin: 41px auto;
}

#top {
	background: #ffffff;
	width: 100%;
	position: fixed;
	box-shadow: 0 0 5px #000000;
}

nav {
	display: inline-block;
	float: right;
	margin: 51px auto;
	margin-right: 205px;
}

a {
	text-decoration: none;
	color: #010101;
	font-weight: 600;
}

.nav-btn {
	margin: auto 15px;
}

#list {
	background-color: #e4fdfa;
	height: 720px;
	margin: 0;
}

#list ul {
	padding-left: 0;
}

li {
	list-style-type: none;
	text-align: center;
}

.title {
	text-align: center;
	padding-top: 170px;
	padding-bottom: 50px;
	margin-top: auto;
}

.link {
	margin: 30px;
}

.link a {
	font-family: 'Raleway', cursive;
	font-weight: 200;
	font-size: 30px;
}

.link img {
	width: 65px;
	height: auto;
}

#table {
	background: #ffffff;
	height: 720px;
	margin: 0;
}

#table table {
	margin: 50px auto;
}

th, td{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 30px;
	padding: 10px;
}

.odd {
	background: #e4fdfa;
}

#form {
	background-color: #e4fdfa;
	height: 800px;
	margin: 0 auto;
}

input, #text {
	border: 0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

input[placeholder], #text {
	padding: 0 0 0 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	font-size: 20px;
}

#text[placeholder] {
	padding: 15px 0 0 15px;
}

#contact {
	width: 850px;
	margin: 0 auto;
}

#name, #email {
	display: inline-block;
	width: 400px;
	height: 60px;
	margin: 25px 7px;
}

#name {
	margin-left: auto;
}

#email {
	margin-right: auto;
}

#text {
	display: block;
	width: 850px;
	height: 200px;
	margin: 25px auto;
}

#submit {
	float: right;
	background-color: #ffffff;
	display: block;
	width: 150px;
	height: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-right: 175px;
}

#bottom {
	background: #f2f4f6;
	margin: 0 auto;
}

#copyright {
	display: inline-block;
	margin: 40px auto;
	padding-left: 50px;
}